body {
    margin: 0;
    background: #0c4a6e;
}

#gameOverPopup {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Isso vai centralizar o conteúdo do pop-up verticalmente */
    align-items: center; /* Isso vai centralizar o conteúdo do pop-up horizontalmente */
    gap: 108px;
    width: 592px;
    padding: 79px 73px 85px 72px;
    border-radius: 85px;
    background: rgba(80, 80, 80, 0.9); /* Fundo translúcido */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.gameOverContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.gameOverContent h2 {
    color: #E77C00;
    font-size: 73px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin: 0;
}

#restartGame {
    width: 333px;
    height: 109px;
    border-radius: 40px;
    background: #565050;
    font-size: 73px;
    color: #FFFFFF;
    display: flex;
    justify-content: center; /* Alinha o texto horizontalmente */
    align-items: center; /* Alinha o texto verticalmente */
    flex-shrink: 0;
    cursor: pointer;
    border: none;
}


  

#pauseMenu {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;

}

#scoreBoard {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 100;
}

#startMenu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* Fundo escuro com transparência */
    z-index: 1000;
  }
  
  .menuContent h1 {
    margin-bottom: 20px;
    color: white;
    font-size: 48px;
  }
  
  #startGame {
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    background: #565050;
    color: white;
    border: none;
    border-radius: 5px;
  }
  