@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

html, body {
    margin: 0;
    background: #0c4a6e;
    padding: 0;
    overflow: hidden; /* Isso esconde as barras de rolagem */
    font-family: 'Inter', sans-serif;

}

#gameOverPopup {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Isso vai centralizar o conteúdo do pop-up verticalmente */
    align-items: center; /* Isso vai centralizar o conteúdo do pop-up horizontalmente */
    gap: 108px;
    width: 592px;
    padding: 79px 73px 85px 72px;
    border-radius: 85px;
    background: rgba(80, 80, 80, 0.9); /* Fundo translúcido */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.gameOverContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.gameOverContent h2 {
    color: #E77C00;
    font-size: 73px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin: 0;
}
.gameOverContent p {
    font-size: 30px; /* Aumenta a fonte para o 'Last Score' */
    color: white; /* Define a cor do texto para branco */
    margin: 20px 0; /* Adiciona um pouco de espaço ao redor do parágrafo */
  }
  
  /* Estilos para o botão Restart */
  #restartGame {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Horizontal offset, vertical offset, blur radius, color */
    width: 333px;
    height: 109px;
    border-radius: 40px;
    background: #565050;
    font-size: 50px; /* Padroniza a fonte com o 'Last Score' */
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    border: none;
  }

  

#pauseMenu {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;

}
#scoreBoard, #lifeBoard {
  position: absolute;
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 100;
}

#scoreBoard {
  top: 10px;
  left: 10px;
}

#lifeBoard {
  top: 40px; /* Ajuste para baixo do scoreBoard */
  left: 10px;
}

#startMenu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1); /* Fundo claro com transparência */
  z-index: 1000;
}

  
  .menuContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .menuContent h1 {
    color: white;
    font-size: 48px;
    margin: 0; /* Remove a margem padrão */
  }

  /* Estilos para o vídeo de fundo */
#backgroundVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1; /* Garante que o vídeo fique atrás do conteúdo */
}
  
  #gameLogo {
    max-width: 900px; /* Ajuste o tamanho do logo conforme necessário */
    max-height: 450px; /* Ajuste a altura máxima para manter a proporção */
    width: auto; /* Isso vai manter a proporção da imagem */
    height: auto; /* Isso vai manter a proporção da imagem */
    margin-bottom: 20px; /* Espaço entre o logo e o botão */
  }

  .menuContent button:hover {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    width: 200px;
    padding: 15px 30px;
    font-size: 24px;
    cursor: pointer;
    background: #d6610e;
    color: white;
    border: none;
    border-radius: 15px;
    transform: translateY(-2px); /* Faz o botão mover-se ligeiramente para cima */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  
  #startGame {
    width: 200px;
    padding: 15px 20px;
    font-size: 24px;
    cursor: pointer;
    background: #d6610e;
    color: white;
    border: none;
    border-radius: 15px;
    align-self: center; /* Garante que o botão estará centralizado dentro de sua div */
  }

  #settingsMenu{
    width: 200px;
    padding: 15px 20px;
    font-size: 24px;
    margin-top: 10px; /* Espaço entre cada botão */
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 15px;
    background:#565050;
  }

  #aboutMenu{
    width: 200px;
    padding: 15px 20px;
    font-size: 24px;
    margin-top: 10px; /* Espaço entre cada botão */
    cursor: pointer;
    color: white;
    border: none;
    border-radius: 15px;
    background:#565050;
  }

  #musicControl {
    position: fixed; /* Ou outro posicionamento conforme necessário */
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Garante que fique no topo dos outros elementos */
}

#musicButton {
    background-color: #f0f0f0; /* Cor de fundo */
    border: none; /* Sem borda */
    border-radius: 50%; /* Botão redondo */
    font-size: 24px; /* Tamanho do ícone da nota musical */
    cursor: pointer; /* Cursor como ponteiro para indicar que é clicável */
    padding: 10px 15px; /* Espaçamento interno */
}

/* Estilos para o Pop-up de Configurações */
#settingsPopup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 500px; /* Largura aumentada */
  height: auto; 
  padding: 20px; 
  border-radius: 30px;
  background: rgba(60, 60, 60, 1);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  z-index: 1001;
}

/* Estilos para o conteúdo do pop-up */
.settingsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.settingsContent h2 {
  color: #E77C00;
  font-size: 40px;
  margin: 10px 0;
}

.settingsContent p {
  font-size: 24px;
  color: white;
  margin: 10px 0;
}

/* Estilos para os botões dentro do pop-up */
.settingsContent button {
  width: 150px; /* Largura diminuída */
  padding: 10px 15px;
  font-size: 18px;
  margin-bottom: 10px;
  cursor: pointer;
  color: white;
  border: none;
  border-radius: 15px;
  background: #565050;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.settingsContent button:hover {
  background: #d6610e;
  transform: translateY(-2px);
}

#closeSettings {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #E77C00; /* Cor laranja */
  border: none;
  border-radius: 50%; /* Circular */
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  cursor: pointer;
}


/* Alinhamento dos botões de dificuldade lado a lado */
.difficultyButtons {
  display: flex;
  justify-content: center;
  gap: 10px; /* Espaço entre os botões */
}

.difficultyButtonSelected {
  background-color: #d6610e; /* Um tom mais escuro ou diferente para indicar a seleção */
}

/* Estilos para o Pop-up About Authors */
#aboutAuthorsPopup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 592px;
  padding: 79px 73px;
  border-radius: 85px;
  background: rgba(80, 80, 80, 0.9); /* Fundo translúcido */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 1001; /* Maior que o do menu de início para aparecer em cima */
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aboutAuthorsContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.aboutAuthorsContent h2 {
  color: #E77C00;
  font-size: 73px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.aboutAuthorsContent p {
  font-size: 25px;
  color: white;
  font-weight: 400;
  margin: 20px 0;
}

/* Estilos para o botão 'Go to GitHub' para combinar com o botão 'Restart' */
#goToGithub {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  width: 150px;
  height: 40px;
  border-radius: 40px;
  background: #E77C00;
  font-size: 18px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
}

/* Estilos para o botão 'Close' do Pop-up dos Autores */
#closeAbout {
  background-color: #E77C00; /* Cor laranja para combinar com os outros botões */
  border: none;
  border-radius: 40px;
  font-size: 24px;
  cursor: pointer;
  padding: 10px 15px;
  color: white;
  margin-top: 20px; /* Espaço entre o botão e o texto dos autores */
}
